*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --grey:rgba(128, 128, 128,0.9);
}

#wrapper{
    height: 100vh;
    width: 80vw;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 20px;
    margin: 0 auto;
    border: 1px solid --grey;
}

.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.navbar a{
    font-size: small;
    font-weight: 600;
    color: var(--grey);
    opacity: 0.8;
    letter-spacing: -1px;
}

.navbar h1{
    font-size: 2em;
    text-decoration: underline;
}

.blogs{
    margin-top: 10px;
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
    grid-auto-flow: column;
}

.box{
    border: 6px solid rgba(128, 128, 128,0.2);
    padding: 1.5rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.7rem;
}


.exp-card{
    margin-top: 0.8rem;
}

.card{
    margin-top: 0.8rem;
}

.box h5{
    margin-bottom: 10px;
}

.box:nth-child(-n+3) .header,.footer{
    color: blue;
}

.box:nth-child(n+4) .header{
    color: rgb(8, 173, 63);
}
.content h3{
    font-size: x-large;
}

.content p{
    font-size: small;
}

.content span{
    line-height: 1.7;
    font-size: small;
    color: var(--grey);
    letter-spacing: -1px;
}

