
*{
    margin: 0;
    padding: 0;    
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.App{
    width: 100vw;
    min-height: 100vh;
    background-color: #edf2f7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-header{
    position: relative;
    font-size: 1.9em;
    font-weight: 700;
    letter-spacing: -2px;
    line-height: 1.5;
    margin-bottom: 2rem;
}

.main-header::after{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    content: '';
    width: 50%;
    height: 4px;
    background-color: #9f7aea;
}

.Testimonial{
    position: relative;
    background-color: white;
    width: 80%;
    max-width: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    border-radius: 5px;
    transition: box-shadow 0.8s;
}
.Testimonial:hover{
    box-shadow: 0px 10px 15px rgb(207, 209, 212);
}

.slider-btn-grp{
    display: flex;
    gap: 18px;
}
.slider-btn-grp button{
    all: unset;
    color: #9f7aea; 
    font-size: medium; 
    transition: color 0.2s; 
}

.slider-btn-grp button:hover{
    color: #6b46c1;
}

.surprise-btn{
    all: unset;
    background-color: #9f7aea;
    color: white;
    font-size: 0.9em;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 0.6rem 2rem;
    border-radius: 4px;
    margin-top: 0.8rem;
    transition: backgeound-color 0.3s;
}

.surprise-btn:hover{
    background-color: #805ad5;
}

.Card{
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.7rem;
}

.profile-container{
    position: absolute;
    top: -4rem;
    left: 2.5rem;
    width: 120px;
    height: 120px;
    border-radius: 100%;
    background-color: #9f7aea;
}

.profile{
    width: 120px;
    height: 120px;
    border-radius: 100%;
    transform: translate(-0.4rem,0.4rem);
}

.card-header{
    text-align: center;
}
.card-header h2{
    font-size: 1.35em;
    letter-spacing: 0.5px;
    font-weight: 700;
}
.card-header p{
    text-transform: uppercase;
    font-size: 0.7em;
    color: #9f7aea;
    opacity: 0.95;
    line-height: 1.5;
}

.profile-body{
    text-align: center;
}

.quote{
    color: #9f7aea;
    font-size: small;
}

.profile-text{
    text-align: center;
    color: #36454F;
    font-size: 0.85em;
    opacity: 0.9;
    margin: 1rem 0;
}


@media(max-width:640px){
    .profile-container{
        position: static;
    }
}



